
body{
    background-image: url('./images/BG.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}


h2 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
}
figure {
    margin-left: 20%;
}


#goutn {
    margin-left: 12%;
}


#pa {
    margin-right:20%;
}

#barbe {
    margin-right: 30%;
    width: 20;
}

#présentation {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}


.card-img-to {
    height: 90px;
    width: 90px;
}

.card {
    border: 5px solid white ;
}
#carou {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    background-color: black;
    position: static;
    margin-left: 10%;
    
}

figure.imgld {
    display: flex;
justify-content: space-around;
margin: 0;
}
