body {
    text-align: center;
}
#dragon {
    position: absolute;
    left: 10%;
}
#alcoolique {
    position: absolute;
    left:   30%;
}
#Dragibus {
    position: absolute;
    left: 50%;
}
#diable {
    position: absolute;
    left: 70%;
}