body {
    text-align: center;
}
figcaption {
    display: flex;
    justify-content: space-around;
}
#fumée {
    float: left;
    margin-left: 5.5%;
}
#vodka {
    float: left;
    margin-left: 13%;
}
#dragibus {
    float:left ;
    margin-left: 14%;
}
#diablo {
    float: left;
    margin-left: 15%;
}
#prix {
    margin-right: 67%;
}