body {
  font-family: "Lily Script One";
  background-image: url("./images/BG.png");
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.Container {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border-radius: 25px;
  color: black;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
}
h2 {
  padding: 20px;
}
p {
  color: #b8b8b8;
  font-size: 20px;
}
input {
  margin: 20px 0;
  padding: 10px;
  width: 80%;
  background-color: #eaedf2;
  border: none;
  border-radius: 25px;
  color: #a0a0a0;
}
input:hover {
  outline: none;
}
input:focus {
  outline: none;
}
input:active {
  outline: none;
}

button {
  font-family: "Lily Script One";
  font-size: 18px;
  border: none;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover {
  outline: none;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
  position: relative;
  top: 1px;
  border: none;
  height: 40px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

hr {
  width: 85%;
  border: 2px solid black;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
}

#hr1 {
  width: 40%;
  border: 2px solid white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
}
a {
  line-height: 4;
  border: 3px solid black;
  padding: 10px;
  background-color: black;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}
