h1 {
    text-align: center;
    text-decoration: underline
}

.sav {
    justify-content: center;
    display: flex;
}

#lab {
  width: 150%;
  height: 90%;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h5 {
    text-align: center;
    text-decoration: underline;
}
.infos {
    text-align: center;
    justify-content: center;
}
.submit {
    margin-top: 450px;
}
