
header {
    width: max-content;
    height: max-content;
    border: 5px solid black;
    padding: 5px solid black;
    background-color:solid black;
    position: fixed;
    top: 0;
    left: 0;
    }
    
    #ban {
      width: max-content;
      position: fixed;
      top: 0;
      left: 0;
  
    }

    #logo {
      position: fixed;
      right: 40%;
      bottom: 62%;
      
    }
    
    #promo {
        position: fixed;
        left: 2%;
    }
    
    #h2p {
        position: relative;
        top: 25%;
        font-family: 'Lily Script One';
        color: blue;
        
    }

    footer {
    background-color: black;
    color: whitesmoke;
    position: absolute;
    width: 100%; height: 150px;
   bottom: 0; left: 0; right: 0;
    }

    #CGV {
    margin-left: 250px;
    margin-top: -115px;
    }
